.album-box a { color:#F33; text-decoration:none; }
.album-box a:hover { color:#333; text-decoration:none; }
.album-box ul, .album-box li { margin:0; padding:0; list-style:none; background:none; }

.album-box .album-title { text-align:center; padding:15px; color:#000; font:800 26px/26px "宋体",arial; }

.album-box .toolbar { height:16px; padding:10px; }
.album-box .toolbar ul.other { float:right; }
.album-box .toolbar ul.other li { float:left; }
.album-box .toolbar ul.other li.feedback a { padding:0 0 0 18px; background:url(icon.gif) 0 -42px no-repeat; }

.album-box .toolbar ul.tools { float:left; }
.album-box .toolbar ul.tools li { float:left; margin:0 5px; list-style:none; }
.album-box .toolbar ul.tools li a { color:#333; }
.album-box .toolbar ul.tools li.pause a { padding:0 0 0 15px; background:url(icon.gif) 0 -14px no-repeat; }
.album-box .toolbar ul.tools li.play a { padding:0 0 0 15px; background:url(icon.gif) -188px 0 no-repeat; }
.album-box .toolbar ul.tools li.show a { padding:0 0 0 15px; background:url(icon.gif) 0 -28px no-repeat; }
.album-box .toolbar ul.tools li.msg { color:#999; }

.album-box .main-pic-wrap { padding:10px 0 0; background:#000; }
.album-box .main-pic { position:relative; /*width:750px;*/ min-height:500px; _height:500px; margin:0 auto; /*background-color:#000;  background:url(ajax-loader.gif) center no-repeat;*/}
/* 左右箭头 */
.album-box .main-pic .arrow-left { position:absolute; top:0; left:0; width:50%; height:500px; background:url(ajax-loader.gif) -20px -20px no-repeat; cursor:pointer; }
.album-box .main-pic .arrow-left div { display:none; position:absolute; top:50%; left:10px; width:102px; height:95px; margin-top:-48px; background:url(right.png) no-repeat; _background:none; /*_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/2011/m1005/M10051/js/right.png" ,sizingMethod="crop");*/}
.album-box .main-pic .arrow-right { position:absolute; top:0; right:0; width:50%; height:500px; background:url(ajax-loader.gif) -20px -20px no-repeat; cursor:pointer; }
.album-box .main-pic .arrow-right div { display:none; position:absolute; top:50%; right:10px; width:102px; height:95px; margin-top:-48px; background:url(left.png) no-repeat; _background:none; /*_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/2011/m1005/M10051/js/left.png" ,sizingMethod="crop");*/}
.album-box .pic-intro { /*width:750px;*/ line-height:2; margin:0 auto; color:#666; }
.album-box .pic-intro .pic-title { padding-left:20px; }
.album-box .pic-intro .pic-content { padding-left:20px; }

.album-box .album-other { text-align:right; padding:0 20px 10px 0; color:#A1A1A1; }

.album-box .pic-list-box { /*width:750px; height:130px;*/ margin:0 auto; /*background:#000; border:1px solid #212121;*/ border-left:0; border-right:0; }
.album-box .pic-list-box .pic-list { float:left; position:relative; /*width:674px; height:97px;*/ margin:20px 0 0 10px; overflow:hidden; }
.album-box .pic-list-box .pic-list .pic-item { display:inline; position:relative; float:left; /*width:136px; height:93px; */text-align:center; margin:0 5px 10px 5px; }
.album-box .pic-list-box .pic-list .pic-item .pic { /*width:130px; height:87px;*/ padding:3px; }
.album-box .pic-list-box .pic-list .pic-item .pic-current { padding:0; border:3px solid #AEAEAE; }
.album-box .pic-list-box .pic-list .pic-item .pic span { display:block; position:absolute; right:3px; bottom:3px; background:#000; color:#FFF; }
.album-box .pic-list-box .pic-list .pic-item .pic a:hover span { background:#464646; }

.album-box .pic-list-box .next { float:right; }
.album-box .pic-list-box .next a { display:block; width:20px; height:63px; margin:35px 6px 0 0; background:url(album-ico.gif) no-repeat; }
.album-box .pic-list-box .next a:hover { background-position:-22px -65px; }
.album-box .pic-list-box .prev { float:left; }
.album-box .pic-list-box .prev a { display:block; width:20px; height:63px; margin:35px 0 0 6px; background:url(album-ico.gif) -22px 0 no-repeat; }
.album-box .pic-list-box .prev a:hover { background-position:0 -65px; }