/* 
 * My97 DatePicker 4.7
 * 皮锟斤拷锟斤拷锟�whyGreen
 */
/* 锟斤拷锟斤拷选锟斤拷锟斤拷锟斤拷 DIV */
.WdateDiv {
  width: 180px;
  background-color: #fff;
  border: #C5E1E4 1px solid;
  padding: 2px; }

/* 双锟斤拷锟斤拷锟斤拷目锟斤拷 */
.WdateDiv2 {
  width: 360px; }

.WdateDiv * {
  font-size: 9pt; }

/****************************
 * 锟斤拷锟斤拷图锟斤拷 全锟斤拷锟斤拷A锟斤拷签
 ***************************/
.WdateDiv .NavImg a {
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 1px; }

.WdateDiv .NavImgll a {
  float: left;
  background: url(img.gif) no-repeat; }

.WdateDiv .NavImgl a {
  float: left;
  background: url(img.gif) no-repeat -16px 0px; }

.WdateDiv .NavImgr a {
  float: right;
  background: url(img.gif) no-repeat -32px 0px; }

.WdateDiv .NavImgrr a {
  float: right;
  background: url(img.gif) no-repeat -48px 0px; }

/****************************
 * 锟斤拷锟斤拷路锟斤拷锟斤拷
 ***************************/
/* 锟斤拷锟斤拷路锟斤拷锟�DIV */
.WdateDiv #dpTitle {
  height: 24px;
  padding: 1px;
  border: #c5d9e8 1px solid;
  background: url(bg.jpg);
  margin-bottom: 2px; }

/* 锟斤拷锟斤拷路锟斤拷锟斤拷锟斤拷 INPUT */
.WdateDiv .yminput {
  margin-top: 2px;
  text-align: center;
  border: 0px;
  height: 20px;
  width: 50px;
  color: #034c50;
  background-color: transparent;
  cursor: pointer; }

/* 锟斤拷锟斤拷路锟斤拷锟斤拷锟斤拷锟矫斤拷锟斤拷时锟斤拷锟斤拷式 INPUT */
.WdateDiv .yminputfocus {
  margin-top: 2px;
  text-align: center;
  border: #939393 1px solid;
  font-weight: bold;
  color: #034c50;
  height: 20px;
  width: 50px; }

/* 锟剿碉拷选锟斤拷锟�DIV */
.WdateDiv .menuSel {
  z-index: 1;
  position: absolute;
  background-color: #FFFFFF;
  border: #A3C6C8 1px solid;
  display: none; }

/* 锟剿碉拷锟斤拷锟斤拷式 TD */
.WdateDiv .menu {
  cursor: pointer;
  background-color: #fff;
  color: #11777C; }

/* 锟剿碉拷锟斤拷mouseover锟斤拷式 TD */
.WdateDiv .menuOn {
  cursor: pointer;
  background-color: #BEEBEE; }

/* 锟剿碉拷锟斤拷效时锟斤拷锟斤拷式 TD */
.WdateDiv .invalidMenu {
  color: #aaa; }

/* 锟斤拷选锟斤拷锟斤拷偏锟斤拷 DIV */
.WdateDiv .YMenu {
  margin-top: 20px; }

/* 锟斤拷选锟斤拷锟斤拷偏锟斤拷 DIV */
.WdateDiv .MMenu {
  margin-top: 20px;
  *width: 62px; }

/* 时选锟斤拷锟斤拷位锟斤拷 DIV */
.WdateDiv .hhMenu {
  margin-top: -90px;
  margin-left: 26px; }

/* 锟斤拷选锟斤拷锟斤拷位锟斤拷 DIV */
.WdateDiv .mmMenu {
  margin-top: -46px;
  margin-left: 26px; }

/* 锟斤拷选锟斤拷锟斤拷位锟斤拷 DIV */
.WdateDiv .ssMenu {
  margin-top: -24px;
  margin-left: 26px; }

/****************************
 * 锟斤拷锟斤拷锟� ***************************/
.WdateDiv .Wweek {
  text-align: center;
  background: #DAF3F5;
  border-right: #BDEBEE 1px solid; }

/****************************
 * 锟斤拷锟斤拷,锟斤拷锟斤拷锟斤拷锟� ***************************/
/* 锟斤拷锟斤拷锟斤拷 TR */
.WdateDiv .MTitle {
  color: #13777e;
  background-color: #bdebee; }

.WdateDiv .WdayTable2 {
  border-collapse: collapse;
  border: #BEE9F0 1px solid; }

.WdateDiv .WdayTable2 table {
  border: 0; }

/* 锟斤拷锟斤拷锟斤拷锟斤拷锟�TABLE */
.WdateDiv .WdayTable {
  line-height: 20px;
  color: #13777e;
  background-color: #edfbfb;
  border: #BEE9F0 1px solid; }

.WdateDiv .WdayTable td {
  text-align: center; }

/* 锟斤拷锟节革拷锟斤拷锟绞�TD */
.WdateDiv .Wday {
  cursor: pointer; }

/* 锟斤拷锟节革拷锟絤ouseover锟斤拷式 TD */
.WdateDiv .WdayOn {
  cursor: pointer;
  background-color: #74d2d9; }

/* 锟斤拷末锟斤拷锟节革拷锟斤拷锟绞�TD */
.WdateDiv .Wwday {
  cursor: pointer;
  color: #ab1e1e; }

/* 锟斤拷末锟斤拷锟节革拷锟絤ouseover锟斤拷式 TD */
.WdateDiv .WwdayOn {
  cursor: pointer;
  background-color: #74d2d9; }

.WdateDiv .Wtoday {
  cursor: pointer;
  color: blue; }

.WdateDiv .Wselday {
  background-color: #A7E2E7; }

.WdateDiv .WspecialDay {
  background-color: #66F4DF; }

/* 锟斤拷锟斤拷锟铰份碉拷锟斤拷锟斤拷 */
.WdateDiv .WotherDay {
  cursor: pointer;
  color: #0099CC; }

/* 锟斤拷锟斤拷锟铰份碉拷锟斤拷锟斤拷mouseover锟斤拷式 */
.WdateDiv .WotherDayOn {
  cursor: pointer;
  background-color: #C0EBEF; }

/* 锟斤拷效锟斤拷锟节碉拷锟斤拷式,锟斤拷锟斤拷锟斤拷锟节凤拷围锟斤拷锟斤拷锟斤拷锟节革拷锟斤拷锟绞�锟斤拷锟斤拷选锟斤拷锟斤拷锟斤拷锟�*/
.WdateDiv .WinvalidDay {
  color: #aaa; }

/****************************
 * 时锟斤拷锟斤拷锟� ***************************/
/* 时锟斤拷锟斤拷 DIV */
.WdateDiv #dpTime {
  float: left;
  margin-top: 3px;
  margin-right: 30px; }

/* 时锟斤拷锟斤拷锟斤拷 SPAN */
.WdateDiv #dpTime #dpTimeStr {
  margin-left: 1px;
  color: #497F7F; }

/* 时锟斤拷锟斤拷锟斤拷锟�INPUT */
.WdateDiv #dpTime input {
  height: 20px;
  width: 18px;
  text-align: center;
  color: #333;
  border: #61CAD0 1px solid; }

/* 时锟斤拷 时 INPUT */
.WdateDiv #dpTime .tB {
  border-right: 0px; }

/* 时锟斤拷 锟街和硷拷锟斤拷锟�':' INPUT */
.WdateDiv #dpTime .tE {
  border-left: 0;
  border-right: 0; }

/* 时锟斤拷 锟斤拷 INPUT */
.WdateDiv #dpTime .tm {
  width: 7px;
  border-left: 0;
  border-right: 0; }

/* 时锟斤拷锟揭边碉拷锟斤拷锟较帮拷钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp {
  height: 10px;
  width: 13px;
  border: 0px;
  background: url(img.gif) no-repeat -32px -16px; }

/* 时锟斤拷锟揭边碉拷锟斤拷锟铰帮拷钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown {
  height: 10px;
  width: 13px;
  border: 0px;
  background: url(img.gif) no-repeat -48px -16px; }

/****************************
 * 锟斤拷锟斤拷
 ***************************/
.WdateDiv #dpQS {
  float: left;
  margin-right: 3px;
  margin-top: 3px;
  background: url(img.gif) no-repeat 0px -16px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.WdateDiv #dpControl {
  text-align: right;
  margin-top: 3px; }

.WdateDiv .dpButton {
  height: 20px;
  width: 45px;
  margin-top: 2px;
  border: #38B1B9 1px solid;
  background-color: #CFEBEE;
  color: #08575B; }

