.td_tag_reason_score_jpg {
	width: 20%;
	padding-top: 10px;
}

.td_tag_score_lt0_true {
	color: rgb(0, 0, 0);
	height: 15px;
	font-family: 'Hiragino Sans GB';
	font-size: 11px;
	margin-top: -10px;
	font-weight: bold;
}

.td_tag_score_lt0_else {
	height: 5px;
}

.td_tag_score_gt0_score {
	color: rgb(0, 0, 0);
	height: 17px;
	font-family: 'Times New Roman';
	font-size: 16px;
	margin-top: -12px;
	font-weight: bold;
}

.table_tag_content {
	width: 84.9%;
	margin-top: 1px;
}

.span_coincode_reason_font {
	font-size: 10px;
}

.td_tag_year_country_mquality {
	color: rgb(0, 0, 0);
	line-height: 10px;
	height: 10px;
	font-size: 8px;
	font-family: 'Hiragino Sans GB';
}

.td_tag_isfirstissue {
	color: rgb(0, 0, 0);
	line-height: 10px;
	height: 10px;
	font-size: 8px;
	font-family: 'Hiragino Sans GB';
}

.td_tag_subject {
	color: rgb(0, 0, 0);
	font-size: 11px;
	letter-spacing: -1px;
	font-family: 'Hiragino Sans GB';
	font-weight: bold;
	line-height: 9px;
	height: 12px;
}

.td_tag_coincode_reason {
	font-size: 10px;
	color: rgb(0, 0, 0);
	line-height: 11px;
	height: 8px;
}

.td_tag_facevalue {
	color: rgb(0, 0, 0);
	font-size: 8px;
	font-family: 'Hiragino Sans GB';
	letter-spacing: -1px;
	line-height: 11px;
	height: 11px;
}

.td_tag_diversion_type {
	color: rgb(0, 0, 0);
	font-size: 8px;
	line-height: 11px;
	height: 11px;
	font-family: 'Hiragino Sans GB';
}

.zhinoandcoincode {
	color: rgb(0, 0, 0);
	font-size: 9px;
	letter-spacing: -1px;
	font-family: 'Hiragino Sans GB';
	line-height: 16px;
	height: 12px;
	text-align: center;
	height: 12px;
}

.zhino {
	
}

.coincode {
	margin-left: 5px;
}

.subject {
	color: rgb(0, 0, 0);
	font-size: 11px;
	letter-spacing: -1px;
	font-family: 'Hiragino Sans GB';
	line-height: 16px;
	height: 12px;
	font-weight: bold;
	text-align: center;
}

.special {
	color: rgb(0, 0, 0);
	font-size: 9px;
	letter-spacing: -1px;
	font-family: 'Hiragino Sans GB';
	line-height: 16px;
	height: 12px;
	text-align: center;
}