@charset "utf-8";
/* CSS Document */
.body {
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.loadImg {
	text-align: center;
	color: blue;
	margin-top: -10px;
	display: none;
}

.header {
	height: 135px;
	background: url(/coin-portlet/images/index/header_bg.png) repeat;
}

#logodiv {
	background: url("/coin-portlet/images/index/header_black.png") no-repeat
		scroll center 0 transparent;
	height: 100px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.w1000c {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

#header #logo {
	display: block;
	position: absolute;
	z-index: 4;
}

#header #logo {
	height: 50px;
	left: 0;
	top: 10px;
	width: 170px;
}

h1 {
	font-size: 24px;
	line-height: 36px;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

.loginlink {
	background: url("../images/base/login.jpg") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 19px;
	position: absolute;
	right: 110px;
	text-indent: -9999px;
	top: 10px;
	width: 100px;
}

.main-languages {
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100px;
	z-index: 2;
}

#lang0 {
	background: url("../images/base/zq.jpg") no-repeat scroll 0 -19px
		transparent;
}

#lang0,#lang2 {
	display: block;
	height: 19px;
	text-indent: -9999px;
	width: 50px;
}

#lang2 {
	background: url("../images/base/zq.jpg") no-repeat scroll -50px -19px
		transparent;
}

#main-menu {
	display: block;
	height: 95px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	width: 1000px;
	top: 25px;
	z-index: 3;
} /*
	#main-menu ul{
		list-style-type:none;
	    margin:0;
	    padding:0;
	}
	#main-menu ul li {
	    display:inline-block;
	    position:relative;
	}
	#main-menu .menu {
	  position: absolute;
	  width:710px;
	}
	#main-menu .menu li {
	  float: left;
	  position: relative;
	  width: 130px;

	}
	#main-menu .menu li a:hover, #main-menu .menu .active a {
	  background: url("/coin-portlet/images/index/1.png") no-repeat scroll center bottom transparent;
	  color: #FFFFFF;
	}
	#main-menu .menu li a {
	  color: #030303;
	  display: block;
	  height: 30px;
	  line-height: 20px;
	  margin-top:-5px;
	  padding-top: 63px;
	  padding-bottom:7px;
	  text-align: center;
	  font-size: 16px;
	  color: #FFF;
	}*/
.search {
	width: 280px;
	float: right;
	margin-top: -20px;
}

.search input {
	font-size: 12px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 30px;
	line-height: 30px;
	float: right;
	width: 252px;
	padding: 0 !important;
	background-image: none;
}

.search_btn {
	background: url(/coin-portlet/images/index/search.png) no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	float: right;
	margin-top: 6px;
	cursor: pointer
}

.search .se {
	width: 280px;
	height: 32px;
	background-color: #fff;
	float: right
}

.black {
	color: #000
}

#header .head_search .txt {
	border: 0 none;
	color: #333333;
	font-family: Arial "微软雅黑";
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	width: 220px;
}

a.head_nav {
	color: #B79E67;
}

a.head_nav:hover {
	color: #ccc;
	text-decoration: none
}

.headernav {
	float: right;
	margin-top: -60px;
}

#main-menu .menu li a:hover {
	text-decoration: none
}

.content .co .linian {
	width: 980px;
	height: 127px;
	margin-top: 20px;
	background-color: #414143;
	padding: 10px;
	overflow: hidden;
	display: block
}

.content .co .linian img {
	padding-left: 9px;
	_padding-left: 8px;
}

.imageShowBlock {
	width: 1000px;
}

.imageCoin {
	padding: 10px;
	overflow: hidden;
	display: block;
}

.imageCoin img {
	width: 185px;
	padding: 10px;
	background-color: rgb(238, 238, 238);
}

.imageShowBlock hr {
	width: 1000px;
	background-color: rgb(238, 238, 238);
}

.wordTips span.tips {
	font-size: 17px;
	padding-left:5px;
	float: left;
	font-weight: bold;
}

.wordTips span.more {
	font-size: 14px;
	padding-right: 55px;
	float: right;
	display: none;
}

.imgShowDiv {
	display: inline;
	width: 231px;
	margin-left: 10px;
	margin-right: 30px;
}

.footer {
	height: 160px;
	width: 100%;
	background-color: #414143;
	min-width: 1000px;
	font-family: Arial "微软雅黑";
	font-size: 14px;
}

.footer_nav {
	text-align: center;
	padding-top: 40px
}

.footer_nav a {
	color: #B79E67;
	padding-right: 20px;
}

.footer_nav a:hover {
	color: #ccc;
	text-decoration: none
}

.copyright {
	color: #ccc;
	text-align: center;
	padding-top: 20px;
	font-size: 12px;
}

nav {
	padding: 10px 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	position: relative;
	width: 130px;
	text-align: center;
	font-size: 16px;
}

nav ul li:hover {
	background-color: rgba(9, 9, 9, 0.5);
}

nav ul li a {
	height: 100px;
	line-height: 150px;
	font-size: 16px;
}
/* sub navigation */
nav li ul {
	background-color: rgba(9, 9, 9, 0.7);
	position: absolute;
	left: 0;
	top: 100px;
	/* make this equal to the line-height of the links (specified below) */
	width: 200px;
}

nav li ul a {
	height: 30px;
	line-height: 50px;
}

nav li li {
	position: relative;
	text-align: left;
	height: 50px;
	display: block;
	width: 175px;
	padding-left: 25px;
}

nav li li a {
	height: 50px;
	line-height: 50px;
	width: 100px;
}

nav li li ul {
	position: absolute;
	top: 0;
	left: 200px; /* make this equal to the width of the sub nav above */
	margin: 0;
}

nav li li ul a {
	height: 50px;
	line-height: 50px;
	width: 70px;
}
/* style all links */
nav a {
	line-height: 60px;
	padding: 0 12px;
	margin: 0 12px;
}

nav a {
	color: #fff;
	text-decoration: none;
	display: block;
}

nav a:hover,nav a:focus,nav a:active {
	color: #fff;
	text-decoration: none;
}

/* style sub level links */
nav li li a {
	border-bottom: solid 1px rgb(50, 50, 50);
	margin: 0 10px;
	padding: 0;
}

nav li li:last-child a {
	border-bottom: none;
}

/* hide sub menu links */
ul.sub-menu {
	display: none;
}

input[type=text] {
	font-family: "宋体", Arial;
}

.ul1 {
	display: inline;
	float: right;
	padding-top: 8px;
}

.ul1 li {
	display: inline;
	float: right;
	width: 80px;
	line-height: 16px;
	border-right: 1px solid #525050;
}

.ul1 li a {
	width: 80px;
	display: inline-block;
	text-align: center;
}

.ul2 {
	display: none;
	background-color: #414143;
	width: 80px;
	height: 60px;
	color: #B79E67;
	text-align: center;
	padding-bottom: 5px;
}

.ul2 li {
	line-height: 25px;
	position: relative;
}

.ul2 li a {
	color: #B79E67;
	text-decoration: none;
	cursor: pointer;
}

.ul2 li a:hover {
	color: #ccc;
}

.headernav ul li:hover ul {
	display: block;
}

.headernav ul li a {
	font-size: 12px;
}

.headernav ul li:hover ul ul {
	display: none;
}

.headernav ul ul li:hover ul {
	display: block;
}

.ul3 {
	display: none;
	width: 80px;
	height: 125px;
	padding-bottom: 5px;
	background-color: #414143;
}

.ul3 li {
	text-align: center;
	line-height: 25px;
}

.ul3 li a {
	text-decoration: none;
	color: #B79E67;
}

.ul3 li a:hover {
	color: #ccc;
}

.ul-printpdf {
	display: none;
	position: absolute;
	top: 0;
	left: 80px;
}

.ul-printpdf li {
	line-height: 25px;
	background-color: #414143;
}

.ul-printpdf li {
	display: block;
}

.ul-printpdf li a {
	color: #B79E67;
	text-decoration: none;
	cursor: pointer;
}

.ul-printpdf li a:hover {
	color: #ccc;
}

.search {
	padding-right: 20px;
	margin-right: -520px;
	margin-top: 10px;
	display: block;
	right: 50%;
	position: absolute;
	top: 40px;
	z-index: 10;
}

a.iwant {
	background: url(/coin-portlet/images/iwant.png) no-repeat center center;
	top: 40px;
	cursor: pointer;
	display: block;
	height: 100px;
	position: fixed;
	right: 20px;
	text-indent: -9999px;
	width: 91px;
	z-index: 100;
}