html {
	background-color: #fff;
}

.hidden,
.hiddenThis {
	display: none;
}

fieldset {
	border: 1px solid #dedede;
}

fieldset>legend {
	font-size: 16px;
	color: #000;
}

button {
	border: 1px solid white;
	width: 100%;
	height: auto;
	min-height: 60px;
	font-size: 13px;
	background: transparent;
	border-radius: 3px;
	background-color: #84AF9B;
	color: #fff;
	cursor: pointer;
	min-height: 70px;
}

table td {
	border: 1px solid rgba(226, 229, 231, 0.1);
	font-size: 13px;
}

button:disabled {
	background-color: rgba(150, 150, 150, 1);
	cursor: no-drop;
}

.tck {
	height: 30px;
	width: 218px;
	min-height: 0;
}

input.doChange {
	width: 30px;
}

button.doChange {
	height: 30px;
}

button.black {
	background-color: #000;
	height: 40px;
}

button.inherit {
	background-color: inherit;
	height: 40px;
	color: black;
}

select {
	border-radius: 6px;
	background-color: #FFF;
	cursor: pointer;
}

#rootContainer {
	text-align: center;
}

.hideToggle {
	cursor: pointer;
	width: 40px;
	display: table-cell;
	height: 48px;
}

#topCtrlContainer {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: white;
	border-radius: 10px;
}

.close,
.open {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
}

#agvsHideDiv.close {
	background-image: url(/s//i/icon/agvsClose.png);
}

#agvsHideDiv.open {
	background-image: url(/s//i/icon/agvsOpen.png);
}

#liftHideDiv.close {
	background-image: url(/s//i/icon/liftClose.png);
}

#liftHideDiv.open {
	background-image: url(/s//i/icon/liftOpen.png);
}

#doorHideDiv.close {
	background-image: url(/s//i/icon/doorClose.png);
}

#doorHideDiv.open {
	background-image: url(/s//i/icon/doorOpen.png);
}

#setupHideDiv.close {
	background-image: url(/s//i/icon/setupClose.png);
}

#setupHideDiv.open {
	background-image: url(/s//i/icon/setupOpen.png);
}

#chargeHideDiv.close {
	background-image: url(/s//i/icon/chargeClose.png);
}

#chargeHideDiv.open {
	background-image: url(/s//i/icon/chargeOpen.png);
}

#windowHideDiv.close {
	background-image: url(/s//i/icon/windowClose.png);
}

#windowHideDiv.open {
	background-image: url(/s//i/icon/windowOpen.png);
}

#wmsHideDiv.close {
	background-image: url(/s//i/icon/wmsClose.png);
}

#wmsHideDiv.open {
	background-image: url(/s//i/icon/wmsOpen.png);
}

#windowCenterHideDiv.close {
	background-image: url(/s//i/icon/windowCenterClose.png);
}

#windowCenterHideDiv.open {
	background-image: url(/s//i/icon/windowCenterOpen.png);
}

div.op {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

div.addOne {
	background-image: url(/s/i/addplus.png);
}

div.delOne {
	background-image: url(/s/i/del.png);
}

div.item-op {
	float: right;
}

.withBorder {
	border: 1px dotted #f7f7f7;
}

table {
	width: 100%;
}

#rootContainer {
	width: 98%;
}

#ctrl {
	margin: 0 auto;
	text-align: center;
}

input.bigSearch {
	text-align: center;
	width: 97%;
	height: 23px;
	font-size: 16px;
	border: #cac5c5 1px solid;
	border-radius: 9px;
}

.fixed {
	position: fixed;
	display: none;
	right: 10px;
	bottom: 65px;
	background: #fff;
	width: 70%;
	box-shadow: gray 10px 10px 30px 5px;
	border-radius: 10px;
}

#liftContainer {
	width: 100%;
}

@media screen and (min-width:920px) {
	#rootContainer {
		width: 900px;
	}

	input.bigSearch {
		width: 900px;
	}

	.fixed {
		width: 300px;
	}

	#liftContainer {
		width: 600px;
	}
}

#msgContainer {
	border: 1px;
	height: auto;
	background-color: inherit;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: left;
}

#op {
	padding-top: 2%;
}

span.tips {
	font-size: 10px;
}

.redFont {
	color: red;
}

.blueFont {
	color: blue;
}

.yellowFont {
	color: yellow;
}

.greyFont {
	color: rgb(185, 185, 185);
}

.tipsOper span {
	font-size: 20px;
	color: rgb(0, 153, 255);
}

#rootContainer {
	margin: 0 auto;
}

/*
table.agv tr.agvTr td button {
	background-color: rgb(58, 139, 255);
}

table.task tr.oneCtrlTr td button {
	background-color: rgb(250, 0, 0);
}

table.task tr.oneCtrlTr td button#sysAlloc {
	background-color: rgb(0, 153, 255);
}

table.area tr.areaTr td button {
	background-color: rgb(0, 153, 255);
}

table.lap tr.lapTr td button {
	background-color: rgb(153, 153, 153);
}

table.lap tr.lapOpTr td button {
	background-color: rgb(250, 0, 0);
}*/

table.lap tr.lapOpTr td select {
	font-size: 16px;
	width: 100%;
}

#coordinate {
	margin-top: -90px;
	margin-bottom: 120px;
}

table.task tr.oneCtrlTr td button#addATaskBySystem {
	background-color: rgb(153, 153, 153);
}

table.task tr.taskTr td button {
	background-color: rgb(0, 153, 255);
}

table.alloc tr td button {
	background-color: rgb(250, 0, 0);
	font-size: 12px;
	height: 10%;
	padding: 0;
	border-radius: 9px;
}

table.alloc tr td button hr {
	margin: 0;
	border-color: rgba(255, 255, 255, 0.3);
}

table.alloc tr td button[data-status='1'] {
	background-color: #84AF9B;
}

table.alloc tr td button[data-status='2'] {
	background-color: rgb(122, 122, 122);
	color: rgb(222, 222, 222);
}

table.alloc tr td button[data-status='3'] {
	background-color: #D24D57;
}

table.alloc tr td button[data-status='4'] {
	background-color: rgb(122, 122, 122);
	color: rgb(222, 222, 222);
	height: 150px;
}

table.task tr td button:DISABLED {
	color: #FFF;
	cursor: not-allowed;
	background-color: #ddd;
}

#mgr {
	color: black;
	font-size: 1px;
}

#imgdiv {
	margin: 0 auto;
	top: 50%;
	position: relative;
}

.axis {
	padding-left: 40px;
}

.axis path,
.axis line {
	fill: none;
	stroke: white;
	stroke-width: 5;
	shape-rendering: crispEdges;
}

.axis rect {
	fill: white;
	stroke-width: 3;
	stroke: white;
}

.axis .tick text {
	font-family: sans-serif;
	font-size: 16px;
	fill: white;

}

/* .axis circle{
	display: none;
} */


/* .rect {
    
    
}


.rectA {
    fill:rgb(255,255,255);
    stroke-width:5;
    stroke:rgb(0,0,0)
} */

button.doTask[data-tasktype='RECEIPT'] {
	background-color: #84AF9B;
}

button.doTask[data-tasktype='SHIPMENT'] {
	background-color: #D24D57;
}

div#doChangeDiv {
	font-size: 12px;
}

div[id='targets'] button.choosed {
	background-color: #D24D57;
}

.block-tips {
	width: 100%;
	display: block;
}

.block-tips div.item-group {
	width: 23%;
	display: inline-block;
	background-color: #ececec54;
	margin: 1px 2px 5px 3px;
	text-align: center;
}

[v-cloak] {
	display: none;
}

.col {
	float: left;
	height: 36px;
	margin-left: 10px;
}

.col>input {
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
}

.col-sm-1 {
	width: 10%;
}

.col-sm-3 {
	width: 33%;
}

.col-sm-30 {
	width: 30%;
}

.col-sm-9 {
	width: 90%;
}

.col-sm-5 {
	width: 45%;
}

label[class^="btn btn-default"] {
	margin-top: -4px;
}

.delete select,
.delete input {
	text-decoration: line-through;
	color: #d8d2d2;
}

.delete input::-webkit-input-placeholder,
.delete input:-moz-placeholder,
.delete input:-ms-input-placeholder {
	text-decoration: line-through;
	color: #d8d2d2;
}