.body {
    font-size: 9pt;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif, 宋体
}

p {
    font-size: 9pt;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif, 宋体
}

td {
    font-size: 9pt;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif, 宋体
}

th {
    font-size: 9pt;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif, 宋体
}

body {
    scrollbar-face-color: #eeeeee;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #dee3e7;
    scrollbar-3dlight-color: #d1d7dc;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #ededed;
    scrollbar-darkshadow-color: #808080;
    background-color: #ffffff
}

input {
    border-top-width: 1px;
    padding-right: 1px;
    padding-left: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    border-left-color: #c0c0c0;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    padding-bottom: 1px;
    cursor: hand;
    color: #000000;
    border-top-color: #c0c0c0;
    padding-top: 1px;
    font-family: verdana, arial, helvetica, sans-serif, 宋体;
    height: 18px;
    background-color: #ffffff;
    border-right-width: 1px;
    border-right-color: #c0c0c0
}

textarea {
    border-top-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    border-left-color: #c0c0c0;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    cursor: hand;
    color: #000000;
    border-top-color: #c0c0c0;
    font-family: verdana, arial, helvetica, sans-serif, 宋体;
    background-color: #ffffff;
    border-right-width: 1px;
    border-right-color: #c0c0c0
}

select {
    border-top-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    border-left-color: #c0c0c0;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    cursor: hand;
    color: #000000;
    border-top-color: #c0c0c0;
    font-family: verdana, arial, helvetica, sans-serif, 宋体;
    background-color: #ffffff;
    border-right-width: 1px;
    border-right-color: #c0c0c0
}

.bg {
    background-color: #ffffff
}

.bg_td {
    background-color: #f7f7f7
}

.bg_tds {
    background-color: #eeeeee
}

.bg_table {
    background-color: #ffffff
}

.bg_frame {
    background-color: #00659c
}

.tablew {
    width: 98%
}

.table {
    border-right: 1px;
    border-top: 1px;
    border-left: 1px;
    width: 98%;
    border-bottom: 1px;
    background-color: #ffffff
}

.tims {
    font-size: 7pt;
    color: #808080;
    font-family: verdana, arial, helvetica, sans-serif
}

.htd {
    line-height: 150%
}

.btd {
    font-weight: bold
}

.bw {
    word-wrap: break-word
}

.tf {
    table-layout: fixed
}

.gray {
    color: #808080
}

.red {
    color: #ff0000
}

.red2 {
    color: #cc3300
}

.blue {
    color: #0066cc
}

.ftd {
    color: #ffffff
}

.fbg {
    color: #ffffff
}

.div_alt {
    border-right: black 1px solid;
    padding-right: 2px;
    border-top: black 1px solid;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-left: 18px;
    border-left: black 1px solid;
    width: 240px;
    color: #000000;
    padding-top: 2px;
    border-bottom: black 1px solid;
    background-color: #ffffe1
}

a {
    color: #000000;
    text-decoration: none
}

a:hover {
    color: #ff0000;
    text-decoration: underline
}

a.h_menu {
    color: #333333;
    text-decoration: none
}

a.h_menu:hover {
    color: #ff0000;
    text-decoration: underline
}