#tipsOper {
	position: fixed;
	top: 0%;
}

.searchBtnDiv {
	position: fixed;
	z-index: 100;
	margin-top: 15px;
}

div.toggleColor {
	position: fixed;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	top: 200px;
	box-shadow: 0px 1px 29px 0px gainsboro;
}

div.toggleColor#toggleColor {
	background: rgb(0, 153, 255);
	left: 90px;
}

div#watchDiv {
	left: 90px;
	top: 60px;
}

div#agvs {
	right: 10px;
	top: 60px;
	width: 300px;
	height: 150px;
	color: #FFF;
	position: fixed;
	/* background: rgba(168, 178, 196, 0.3); */
}

div.watch[data-id="3"] {
	background: rgb(153, 255, 0);
}

div.watch[data-id="4"] {
	background: rgb(255, 0, 0);
}

div#sysTitle {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: red;
	font-size: 38px;
	cursor: pointer;
	bottom: 10px;
	/* box-shadow: 0px 1px 29px 0px gainsboro; */
}