html {
	background-color: inherit;
}

body {
	margin: 0;
	/* background-color: #fff; */
	color: #333;
}

.hidden {
	display: none;
}

fieldset {
	border: 1px #ffffff2b;
	margin: 5px;
	border-style: dotted;
	height: 100%;
}

fieldset>legend {
	font-size: 16px;
	color: #000;
}

button {
	border: 1px solid white;
	width: 100%;
	height: auto;
	font-size: 13px;
	background: transparent;
	border-radius: 10px;
	background-color: #84AF9B;
	color: #fff;
	cursor: pointer;
	min-height: 70px;
}

#button {
	min-height: 55px;
}

table td {
	border: 1px solid rgba(226, 229, 231, 0.1);
	font-size: 13px;
}

button:disabled {
	background-color: rgba(150, 150, 150, 1);
	cursor: no-drop;
}

.tck {
	height: 30px;
	width: 218px;
	min-height: 0;
}

input.doChange {
	width: 30px;
}

button.doChange {
	height: 30px;
}

button.black {
	background-color: #000;
	height: 40px;
}

button.inherit {
	background-color: inherit;
	height: 40px;
	color: black;
}

select {
	border-radius: 6px;
	background-color: #FFF;
	cursor: pointer;
}

#rootContainer {
	text-align: center;
}

.hideToggle {
	cursor: pointer;
	width: 40px;
	display: table-cell;
	height: 48px;
}

#topCtrlContainer {
	position: fixed;
	right: 10px;
	top: 10px;
	background: #ffffffb3;
	border-radius: 10px;
	box-shadow: #d9d9d9 10px 10px 30px 10px;
}

#bottomCtrlContainer {
	position: fixed;
	left: 10px;
	bottom: 10px;
	background: #ffffffb3;
	border-radius: 10px;
	box-shadow: #d9d9d9 10px 10px 30px 10px;
}

.close,
.open {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
}

.withBorder {
	border: 1px dotted #f7f7f7;
}

table {
	width: 100%;
}

#rootContainer {
	width: 98%;
}

#ctrl {
	margin: 0 auto;
	text-align: center;
}

input.bigSearch {
	text-align: center;
	width: 97%;
	height: 23px;
	font-size: 16px;
	border: #cac5c5 1px solid;
	border-radius: 9px;
}

.fixed {
	position: fixed;
	display: none;
	right: 1%;
	top: 65px;
	background: #fff;
	width: auto;
	box-shadow: grey 10px 10px 30px 5px;
	z-index: 1;
	border-radius: 10px;
}

#agvDiv.big {
	width: 95%;
}

#agvDiv.big td {
	font-size: 12px;
}

#liftContainer {
	width: 98%;
}

#settingContainer {
	width: 98%;
}

@media screen and (min-width:920px) {
	#rootContainer {
		width: 900px;
	}

	input.bigSearch {
		/* width: 900px; */
	}

	#agvDiv {
		width: 300px;
	}

	#agvDiv.big {
		width: 600px;
	}

	#settingContainer {
		width: 600px;
	}

	#liftContainer {
		width: 600px;
	}
}

#msgContainer {
	overflow: auto;
	text-align: left;
}

#op {
	padding-top: 2%;
}

span.tips {
	font-size: 10px;
}

.redFont {
	color: red;
}

.blueFont {
	color: blue;
}

.yellowFont {
	color: yellow;
}

.greyFont {
	color: rgb(185, 185, 185);
}

.tipsOper span {
	font-size: 20px;
	color: rgb(0, 153, 255);
}

#rootContainer {
	margin: 0 auto;
}

/*
table.agv tr.agvTr td button {
	background-color: rgb(58, 139, 255);
}

table.task tr.oneCtrlTr td button {
	background-color: rgb(250, 0, 0);
}

table.task tr.oneCtrlTr td button#sysAlloc {
	background-color: rgb(0, 153, 255);
}

table.area tr.areaTr td button {
	background-color: rgb(0, 153, 255);
}

table.lap tr.lapTr td button {
	background-color: rgb(153, 153, 153);
}

table.lap tr.lapOpTr td button {
	background-color: rgb(250, 0, 0);
}*/

table.lap tr.lapOpTr td select {
	font-size: 16px;
	width: 100%;
}

#coordinate {
	margin-top: -90px;
	margin-bottom: 120px;
}

table.task tr.oneCtrlTr td button#addATaskBySystem {
	background-color: rgb(153, 153, 153);
}

table.task tr.taskTr td button {
	background-color: rgb(0, 153, 255);
}

table.alloc tr td {
	border: #e3dede 1px;
	border-style: dotted;
}

table.alloc tr td button {
	background-color: rgb(250, 0, 0);
	font-size: 12px;
	height: 10%;
	padding: 0;
	border-radius: 9px;
}

table.alloc tr td button hr {
	margin: 0;
	border-color: rgba(255, 255, 255, 0.3);
}

table.alloc tr td button[data-status='1'] {
	background-color: #84AF9B;
}

table.alloc tr td button[data-status='2'] {
	background-color: rgb(122, 122, 122);
	color: rgb(222, 222, 222);
}

table.alloc tr td button[data-status='3'] {
	background-color: #EB7347;
}

table.alloc tr td button[data-status='4'] {
	background-color: rgb(122, 122, 122);
	color: rgb(222, 222, 222);
	height: 150px;
}

table.task tr td button:DISABLED {
	color: #FFF;
	cursor: not-allowed;
	background-color: #ddd;
}

#mgr {
	color: black;
	font-size: 1px;
}

#imgdiv {
	margin: 0 auto;
	top: 50%;
	position: relative;
}

.axis {
	padding-left: 40px;
}

.axis path,
.axis line {
	fill: none;
	stroke: white;
	stroke-width: 5;
	shape-rendering: crispEdges;
}

.axis rect {
	fill: white;
	stroke-width: 3;
	stroke: white;
}

.axis .tick text {
	font-family: sans-serif;
	font-size: 16px;
	fill: white;

}

/* .axis circle{
	display: none;
} */


/* .rect {
    
    
}


.rectA {
    fill:rgb(255,255,255);
    stroke-width:5;
    stroke:rgb(0,0,0)
} */

button.doTask[data-tasktype='RECEIPT'] {
	background-color: #84AF9B;
}

button.doTask[data-tasktype='SHIPMENT'] {
	background-color: #D24D57;
}

div#doChangeDiv {
	font-size: 12px;
}

button.current {
	background-color: #4E6680;
}

button.choosed {
	background-color: #EB7347;
	background-image: url(/s/i/icon/choosed.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.rf-op input {
}

.rf-op select {
}

.rf-op textarea {
}

.rf-op input,.rf-op select ,.rf-op textarea {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 30px;
    border-color: #2e72abb0;
}

.rf-op label {
	font-size: 30px;
	text-align: center;
}

div.rf-op td {
	text-align: center;
	margin: 10px;
	font-size: 30px;
	height: 80px;
}

div.rf-op td button {
	font-size: 30px;
	height: 100px;
}

.rf-op h1 {
	font-size: 45px;
}

button.small {
	width: 45px;
	min-height: 30px;
}

#rootContainer h2 {
	font-weight: bold;
	font-size: 30px;
}

div#btns {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 20%;
}

div.allocDiv{
	border: #bfddce 1px;
	border-style: dotted;
	border-radius: 5px;
}

hr.gray{
	border: 0;
	height: 1px;
	background-color: #f9f9f9;
}

.doc-buttons{
	position: fixed;
	top: 5px;
	right: 5px;
	width: 300px;
	z-index: 10;
}