.hideToggle {
	cursor: pointer;
	width: 40px;
	display: table-cell;
	height: 48px;
}

.fixed {
	position: fixed;
	display: none;
	right: 1%;
	top: 65px;
	background: #fff;
	width: auto;
	box-shadow: grey 10px 10px 30px 5px;
	z-index: 1;
	border-radius: 10px;
	align-items: center;
	text-align: center;
}

#topCtrlContainer {
	position: fixed;
	right: 10px;
	top: 10px;
	background: #ffffffb3;
	border-radius: 10px;
	box-shadow: #d9d9d9 10px 10px 30px 10px;
}

#bottomCtrlContainer {
	position: fixed;
	left: 10px;
	bottom: 16px;
	background: #ffffffb3;
	border-radius: 10px;
	box-shadow: #d9d9d973 10px 10px 30px 10px;
}

#bottomRightCtrlContainer {
	position: fixed;
	right: 10px;
	bottom: 16px;
	background: #ffffffb3;
	border-radius: 10px;
	box-shadow: #d9d9d973 10px 10px 30px 10px;
}

.frameInContainer{
	height:100%;
	width: 100%;
	border-radius: 10px;
	position: initial;
}

.close,
.open {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
}

#testContainer {
	top: auto;
	bottom: 65px;
	right: 1%;
	left: auto;
}