
html.single body{
    margin: auto;	
}

div.td .call>img,div.td .delete>img  {
	width: 25px;
	height: 25px;
}
 
div.td{
    width: 100%;
    margin-left: 5px;
}

div.td>div{
    border-radius: 10px;
}

div.td hr  {
	/* color: #bab1b1; */
	/* background: #EEE; */
	border: solid 1px;
	border-style: double;
	border-color: inherit;
}
div.tr {
	border: #eee solid 1px;
	margin-bottom: 5px;
	/* background-color: #f2f2f2; */
	display: flex;
	width: 100%;
	border-radius: 10px;
	align-items: center;
}