@charset "utf-8";

.mglass_wrapper {
	cursor:none
}
.mglass_picture_box {
    zoom: 1.0;
    z-index: 1;
}
.mglass_viewer {
    position: absolute;
    visibility: hidden;
    width: 256px;
    height: 256px;
    z-index: 2;
    overflow: hidden;
    -moz-border-radius: 128px;
    -webkit-border-radius: 128px;
    -khtml-border-radius: 128px;
    border-radius: 128px;
}
